<button (click)="lgModal.show();" class="text-uppercase header-btn">Comenzar a donar</button>

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    <!-- <div class="modal-header">

        <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->
      <div class="modal-body">
        <div id="smartwizard">
            <ul>
              <li><a href="#step-1" ><i class="fa fa-handshake-o" aria-hidden="true" style="color: white"></i> &nbsp;1er Paso<br /><small> Seleccione el tipo de donación</small></a></li>
              <li ><a href="#step-2" #step2 ><i class="fa fa-gift" aria-hidden="true" style="color: white"></i> &nbsp;2do Paso<br /><small>Elija los productos o servicios</small></a></li>
              <li ><a href="#step-3" #step3 ><i class="fa fa-address-card-o" aria-hidden="true" style="color: white"></i>&nbsp;3er Paso<br /><small>Ingrese datos del donante</small></a></li>
              <li ><a href="#step-4" #step4 ><i class="fa fa-cc-paypal" aria-hidden="true" style="color: white"></i>&nbsp;4to Paso<br /><small>Procese la donación</small></a></li>
            </ul>
            <div>
              <div id="step-1" class="">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="img-circular" (click)="goToSelectArticle(true)">
                    </div>
                    <p class="centrado"> Donación de tipo efectivo</p>
                  </div>
                  <div class="col-sm-4">
                    <div class="img-circular2" (click)="goToSelectArticle(false)"></div>
                    <p class="centrado">Donación de artículo</p>
                  </div>
                  <div class="col-sm-4">
                    <div class="img-circular3" (click)="goToSelectService(false)"></div>
                    <p class="centrado"> Donación de servicio a la comunidad</p>
                  </div>
                </div>


              </div>
              <div id="step-2" class="">
               <app-articles [isCashDonate]="isCash" ></app-articles>
              </div>
              <div id="step-3" class="">
                <app-datos></app-datos>
              </div>

              <div id="step-4" class="">
                <app-paypal></app-paypal>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>