<section class="background-image" id="home">
    <div class="container content">
        <div class="row justify-content-end fullscreen align-items-center">
            <div class="col-lg-6 col-md-12 banner-left">
                <h1 class="text-white">Mesa de regalos</h1>
                <div id="countdown-3"></div><br/><br/>
                <h4 class="mx-auto text-white  mt-20 mb-40">
                    Colaborando juntos por un Cajeme mejor
                </h4>
                <app-donate></app-donate>
                <!-- <button (click)="lgModal.show();" class="text-uppercase header-btn">Comenzar a donar</button> -->
            </div>
            <div class="col-lg-6 col-md-12 no-padding banner-right">
                <!-- <img class="img-fluid" src="/assets/images/header-img.png" alt=""> -->
                <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
                    <!--Indicators-->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-2" data-slide-to="1"></li>
                        <li data-target="#carousel-example-2" data-slide-to="2"></li>
                    </ol>
                    <!--/.Indicators-->
                    <!--Slides-->
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <div class="view">
                                <img class="d-block w-100"
                                    src="https://megalopolismx.com/images/noticias/201608/amplian-periodo-de-recepcion-de-proyectos-para-mejoramiento-barrial-en-la-ciudad.jpg"
                                    alt="First slide">
                                <div class="mask rgba-black-light"></div>
                            </div>
                            <div class="carousel-caption">
                                <h3 style="color:white">Vilas del rey</h3>
                                <p>Agradecemos a los ciudadanos de la colonia villay del rey por su apoyo.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <!--Mask color-->
                            <div class="view">
                                <img class="d-block w-100"
                                    src="http://www.elinformador.com.co/images/stories/redes_sociales/2018/09-septiembre/piensa4.jpeg"
                                    alt="Second slide">
                                <div class="mask rgba-black-strong"></div>
                            </div>
                            <div class="carousel-caption">
                                <h3 style="color:white">Colonia centro</h3>
                                <p>Agradecemos a los estudiantes de ITSON por su contribución para el gobierno de
                                    cajeme.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <!--Mask color-->
                            <div class="view">
                                <img class="d-block w-100"
                                    src="http://deres.org.uy/wp-content/uploads/Entrega-de-cheque-al-Banco-de-Alimentos_mondelez.jpg"
                                    alt="Third slide">
                                <div class="mask rgba-black-slight"></div>
                            </div>
                            <div class="carousel-caption">
                                <h3 style="color:white">¡Cajemenses por el mundo!</h3>
                                <p>Gracias a la empresa mondelez por su donación.</p>
                            </div>
                        </div>
                    </div>
                    <!--/.Slides-->
                    <!--Controls-->
                    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    <!--/.Controls-->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="service-area section-gap" id="how">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Mesa de regalos cajeme</h1>
                    <p class="custom-size-text">Este proyecto fue creado con el objetivo de crear un mejor cajeme para nuestras familias, en el
                        cual pueden
                        participar tanto ciudadanos como empresas, haciendo aportaciones voluntarias, tanto monetarias
                        como
                        servicios a la comunidad.
                        <br> <strong style="color:#77835A; font-size: 18px;" >¡Porque trabajando juntos siempre hacemos
                            la
                            diferencia!</strong>
                    </p>
                </div><br>
                <!-- <div style="text-align: center; justify-content: center">
                        <app-donate></app-donate>
                </div> -->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="box">
                    <div class="aligncenter">
                        <div class="icon">
                            <i class="fa fa-hand-o-up fa-5x"></i>
                        </div>
                        <h4>Seleccione el artículo o servicio</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="box">
                    <div class="aligncenter">
                        <div class="icon">
                            <i class="fa fa-map-marker fa-5x"></i>
                        </div>
                        <h4>Seleccione la ubicación</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4" style="cursor: pointer;">
                <div class="box">
                    <div class="aligncenter">
                        <div class="icon">
                            <i class="fa fa-child fa-5x"></i>
                        </div>
                        <h4>haga click en realiar donación</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="video-area pt-40 pb-40" id="AboutUs">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="video-content">
            <a href="https://www.youtube.com/watch?v=keXbNE5jXjs" class="play-btn"><img
                    src="/assets/images/play-btn.png" alt=""></a>
            <div class="video-desc">
                <h3 class="h2 text-white">¡Conoce este hermoso proyecto!</h3>
                <h4 class="text-white">El video aparecera al hacer click en el boton de repdoducir</h4>
            </div>
        </div>
    </div>
</section>

